
/*
//aspect ratio  | padding-bottom value
//--------------|----------------------
//    16:9      |       56.25%
//    4:3       |       75%
//    3:2       |       66.66%
//    8:5       |       62.5%
*/
#preview-container {
    position: relative;
    width: 100%;
    background-color: black;
    padding-bottom: 75%;
}

#preview-container video {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
