body {
  color: white;
  margin: 0px;
  background-color: black;
  overflow: hidden; }

.brick {
  background: white;
  color: #333;
  border: none;
  width: 14%; }

.brick img {
  display: block;
  width: 100%; }

.brick .info {
  color: black;
  font-family: arial;
  padding: 2px 4px;
  font-size: 0.7em;
  white-space: nowrap;
  overflow: hidden; }

/** Animation Filter Start **/
img.animated {
  -webkit-animation: filter-animation 7s 1; }

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(0) saturate(2); }
  50% {
    -webkit-filter: sepia(1) saturate(8); }
  100% {
    -webkit-filter: sepia(0) saturate(2); } }

/** Animation Filter End **/
#header {
  text-align: center; }

#insta-gallery {
  margin-bottom: 4px; }

@font-face {
  font-family: 'digital-7';
  src: url("./../fonts/digital-7 (mono).ttf"); }

#countdown {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;

  font-family: 'digital-7';
  text-align: center;
  font-size: 3.4em;

  padding: 25px;
  background-color: rgba(255,255,255,0.4);
  color: #000;

  z-index: 1000;
}
