body {
    background-color: black;
    color: white;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin:0;
    width: 100vw;
    height: 100vh;
}

#themes-container .theme{
  display: none;
}

#video-player-container,
.overlay-video
{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
#overlay-video{
  transition: mix-blend-mode 1s;
}
#image-player, #player, #overlay-video
{
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: 100%;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#fx-invert{
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: white;
  z-index: 1000;
  mix-blend-mode: difference;
  display: none;
}
#fx-mono{
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: black;
  z-index: 1000;
  mix-blend-mode: color;
  display: none;
}
#fx-blackout{
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: black;
  z-index: 1000;
  display: none;
}
#fx-flash{
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: white;
  z-index: 1000;
  display: none;
}
#overlay-video{
  mix-blend-mode: overlay;
}